#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.MuiCard-root {
  display: flex;
  justify-content: space-between;
  /* width: 80px; */
}

.MuiCardMedia-img {
  width: 151px;
  height: 151px;
}

.artist-card-content{
  display: flex;
  flex-grow: 1;
}