#root {
  max-width: 1380px;
  min-width: 70%;
  margin: 0 auto;
  padding: 1rem;
  text-align: left;
}

.MuiBox{
  padding: 0%;
  margin: 0;
}

.MuiBox-root.cards-container-wrapper {
  border: 1px solid black;
  padding-bottom: 28px;
}

.MuiBox-root h2{
  margin: 0;
  padding: 12px 0;
  margin-bottom: 24px;
  background-color: green;
}

.MuiCard-root {
  display: flex;
  justify-content: space-between;
  /* width: 80px; */
}

.MuiCard-root *{
  margin: 0;
}

.MuiCardMedia-img {
  width: 121px;
  height: 121px;
}

.artist-card-content{
  width: 200px;
}

.artist-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-evenly;
}

.artist-img {
  /* border-radius: 12px; */
  width: 120px;
  margin-right: 8px;
}

h1.artist-name {
  margin: 0;
  margin-bottom: 12px;
}

.bold-table-header {
  font-weight: bold !important;
}

.text-left {
  text-align: left !important;
}

.album-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: start;
}

.btn-back {
  margin-bottom: 12px;
  background-color: gray;
}